@page "/About"

<p>The Plant/Waste/Solution/Media Lab is a section of the Agronomic Division
   of the North Carolina Department of Agriculture and Consumer Services. The lab 
   performs nutrient analysis on several types of agricultural samples and provides
   recommendations on how best to improve crop production or manage environmental
   quality. The types of samples analyzed include:</p>

   <ul>
       <li>Crop leaf tissues (tomato, corn, lettuce, cabbage, etc.)</li>
       <li>Animal waste to be used as fertilizer (dairy cow manure, hog lagoons)</li>
       <li>Composted materials</li>
       <li>Industrial byproducts (coal ash, paper waste)</li>
       <li>Water-based solutions (irrigation water, fish ponds, hydroponic nutrient solutions)</li>
       <li>Soilless potting media</li>
   </ul>

<p>The lab analyzes around 35,000 samples per year, submitted by various types of customers,
    including:
</p>

    <ul>
        <li>Individual farmers and gardeners from all over North Carolina</li>
        <li>Agricultural consultants who provide services to large numbers of growers</li>
        <li>Academic and corporate researchers conducting controlled trials for publication or internal purposes</li>
        <li>Extension agents and NCDA agronomists providing state-funded support to the public</li>
    </ul>