@page "/Glossary"

<h5>ICP - Inductively Coupled Plasma (Spectroscopy)</h5>
<ul>
    <li>Al - Aluminum</li>
    <li>B - Boron</li>
    <li>Ca - Calcium</li>
    <li>Cu - Copper</li>
    <li>Fe - Iron</li>
    <li>K - Potassium</li>
    <li>Mg - Magnesium</li>
    <li>Mn - Manganese</li>
    <li>P - Phosphorus</li>
    <li>S - Sulfur</li>
    <li>Z - Zinc</li>
</ul>
<h5>HM - Heavy Metals (Spectroscopy)</h5>
<ul>
    <li>Cd - Cadmium</li>
    <li>Ni - Nickel</li>
    <li>Pb - Lead</li>
</ul>

<h5>C - Carbon</h5>
<h5>CBC - Carbonate/Bicarbonate</h5>
<h5>CCE - Calcium Carbonate Equivalence %</h5>
<h5>Cl - Chloride</h5>
<h5>DM - Dry Matter %</h5>
<h5>DW - Dry Weight</h5>
<h5>EC - Electrical Conductivity</h5>
<h5>Mo - Molybdenum</h5>
<h5>N - Nitrogen</h5>
<h5>NH4/NO3 - Ammonia/Nitrate nitrogen breakout</h5>
<h5>NO3 - Nitrate</h5>
<h5>pH - Acidity/Alkalinity</h5>
<h5>TKN - Total Kjeldahl Nitrogen (organic nitrogen)</h5>
