@page "/ReportFinal"

@using BlazorLIMS.Data;
@using Microsoft.EntityFrameworkCore;
@using System;

@if (Info.CurrentUser.UserRole == Role.USER || Info.CurrentUser.UserRole == Role.ADMIN)
{

@if (FinalReports != null && FinalReports.Count > 0)
{
    @foreach (var report in FinalReports)
    {
        var uri = $"/Report/{@report.ReportModelId}";
        <p>
            <a href=@uri>@report.LabReportIdFull</a>
            @if (@report.Status == ReportStatus.COMPLETE)
            {
                <button style="margin-left: 20px;">Get PDF</button>
            }
        </p>
    }
}

else
{
    <h5>There are no reports ready for finalization.</h5>
}

}

else
{
    <h4>You must be logged in as a user to view this page.</h4>
}


@code {

    private List<ReportModel> FinalReports;

    protected override async Task OnInitializedAsync() {

        using (var context = new PWSMDbContext())
        {
            try {
                FinalReports = await context.ReportModels
                .Where(r => (r.Status == ReportStatus.FINALIZE || 
                r.Status == ReportStatus.COMPLETE)).ToListAsync();
            }
            catch (Exception ex) {
                Console.WriteLine(ex.Message);
            }
        }
    }
    

}