@using System;
@using Microsoft.EntityFrameworkCore;
@using BlazorLIMS.Data;

<tr>
    <th>@Name</th>
    <th>@Type</th>
    <th>
        @foreach (var item in @DefaultTests.Split("|"))
        {
            @item <span>&nbsp;</span>
        }
    </th>
    <th>
        <button @onclick="@DeleteRow">Delete</button>
    </th>
</tr>

@code {

    [Parameter]
    public int RowId { get; set; }
    
    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string DefaultTests { get; set; }

    [Parameter]
    public EventCallback OnClickCallback { get; set; }

    private async void DeleteRow() {

        using (var context = new PWSMDbContext())
        {
            // Delete row from SampleInfo
            // Delete test data too
            try {


                var rowToDelete = await context.SampleCodeTable.FindAsync(RowId);
                if (rowToDelete != null)
                {

                    @* var testRows = context.TestDataTable.Where(t => t.SampleCode.Equals(rowToDelete.Name)).ToList();
                    foreach (var testRow in testRows)
                    {
                        context.TestDataTable.Remove(testRow);

                    } *@

                    foreach (var testRow in context.TestDataTable)
                    {
                        if (testRow.SampleCode.Equals(rowToDelete.Name))
                        {
                            context.Remove(testRow);
                        }
                    }


                    context.SampleCodeTable.Remove(rowToDelete);
                    await context.SaveChangesAsync();
                }
            }
            catch (Exception ex) {
                Console.WriteLine(ex.Message);
            }

        }

        await OnClickCallback.InvokeAsync();
    }

}