@page "/Worklist"

@using Microsoft.EntityFrameworkCore;
@using BlazorLIMS.Data;
@using System;

<button @onclick="DeleteAllReports" style="margin: 30px;">Delete All Reports</button>

<select @bind="DisplayType">
    <option value="Plant">Plant</option>
    <option value="Waste">Waste</option>
    <option value="Solution">Solution</option>
    <option value="Media">Media</option>
</select>

<table class="table">
    <thead>
        <th>Report ID</th>
        <th>Sample</th>
        <WorklistTestRow SampleType=@DisplayType />
    </thead>

    @foreach (var report in savedReports)
    {
        @if (report.SampleType.Equals(DisplayType))
        {
            
            <tr>
                <th>@report.LabReportIdFull - @report.ReportType</th>
            </tr>
            
            @foreach (var s in @report.Samples)
            {
                <WorklistRow sample=@s />
            }

        }
    }

</table>

@code {

    private List<ReportModel> savedReports;

    private string DisplayType = "Plant"; 

    private async void DeleteAllReports() {

        using (var context = new PWSMDbContext())
        {
            var reports = await context.ReportModels.ToListAsync();
            var samples = await context.SampleModels.ToListAsync();
            var tests = await context.SampleTestModels.ToListAsync();

            try {
                context.SampleTestModels.RemoveRange(tests);
                context.SampleModels.RemoveRange(samples);
                context.ReportModels.RemoveRange(reports);
            }

            catch (Exception ex) {
                Console.WriteLine(ex.Message);
            }

            await context.SaveChangesAsync();
        }
    }

    protected override async Task OnInitializedAsync() {

        using (var context = new PWSMDbContext())
        {
            savedReports = await context.ReportModels
            .Include("Samples.AssignedTests")
            .ToListAsync();

        }
    }
}