@using BlazorLIMS.Data;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorLIMS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (Info.CurrentUser.UserRole == Role.ADMIN || Info.CurrentUser.UserRole == Role.USER)
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Worklist" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Worklist
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ICP" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> ICP
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HM" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Heavy Metals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ReportFinal" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Report Finalization
            </NavLink>
        </li>
        }

        @if (Info.CurrentUser.UserRole == Role.ADMIN)
        {
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SampleInfo" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Sample Table
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TestInfo" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Test Table
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserCreate" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Create Users
            </NavLink>
        </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
