@inherits LayoutComponentBase
@using BlazorLIMS.Data
@using Microsoft.EntityFrameworkCore;
@using System;

@inject NavigationManager navManager;

<div class="page" style="margin: 30px;">
    @Body
</div>